<section>
  <h1 class="centered">Houston, we have a problem.</h1>
  <p class="centered">The page you're looking for isn't here. Why not <a href="/">go home</a> instead?</p>
  <img src="/img/rocket.svg" class="centered" style="max-width: 400px"/>
</section>
