@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// General CSS rules and mixins
@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-o-keyframes BackgroundAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes BackgroundAnimation { 
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

@mixin Arimo{
    font-family: Arimo, Arial, sans-serif;
    font-weight: 400;
}

@mixin ArimoBold{
    font-family: Arimo, Arial, sans-serif;
    font-weight: 700;
}

$footerHeight: 200px;

// General CSS rules
html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body{
    margin-bottom: $footerHeight;
}

h1, h2, h3, h4, p, a{
    @include ArimoBold;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 20px;
}
a{
    color: #00c0ff;
    &:hover{
        color: #63d9ff;
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}

/*
-webkit-animation: BackgroundAnimation 20s ease infinite;
-moz-animation: BackgroundAnimation 20s ease infinite;
-o-animation: BackgroundAnimation 20s ease infinite;
animation: BackgroundAnimation 20s ease infinite;
background-size: 400% 400%;
*/

.fa{
    display: inline-block;
}

.venue{
    color:azure;
}

header{
    transform: translateZ(0);
    min-height: 100vh;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    color: azure;
    @include ArimoBold;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    .read-more{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align: center;
    }

    .container-fluid{
        margin: 0;
        width: 100%;
        text-align: center;
        .logo.img-responsive{
            width: 250px;
            height: auto;
            margin: auto;
        }
    }
    .background-overlay{
        width:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        min-height:100vh;
        background: linear-gradient(123deg, #13d09f, #8a58d9);
        z-index: -2;
    }
    .background-overlay-dots{
        width:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        min-height:100vh;
            background-image: url('../img/overlay.png');
        z-index: -1;
    }
    //Signup form
    #mc_embed_signup{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        form{
            text-align: center;
            padding: 0;
            input.email{
                display:inline-block;
                margin:0;
                border-radius:4px;
                border: none;
                font-size: 20px;
                height: 40px;
                width: 400px;
                margin-bottom: 10px;
                color: black;
                @include ArimoBold;
                background-color: rgba(white, 0.60);
            }
            input.button{
                display: inline-block;
                font-size: 20px;
                min-width: 100px;
                height: 40px;
                @include ArimoBold;
            }
        }
    }
    a.fa{
        color: azure;
        padding-bottom: 20px;
        &:hover{
            color: black;
        }
    }
}

section.about{
    background: url('../img/waterloo-campus.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center bottom;
    padding-top: 30px;
    padding-bottom: 30px;
    h1, h2, p{
        color:azure;
    }

}

section.faq{
    background: linear-gradient(123deg, #13bad0, #f361ff);
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    p.question{
        @include ArimoBold;
        margin-bottom: 5px;
    }
    p.answer{
        @include Arimo;
        margin-bottom: 20px;
    }
    .white_tint{
        background-color: rgba(255,255,255,0.3);
        border-radius: 10px;
    }

}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: $footerHeight;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;

    .love{
        margin-top: 20px;
        @include Arimo;
    }
}
// For mobile devices.
@media (max-width: 800px){
    h1{
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h2, h3{
        font-size: 18px;
        margin-bottom: 5px;
    }
    p{
        font-size: 14px;
    }
    header{
        #mc_embed_signup form{
            input.email{
                font-size: 15px;
                width: 100%;
            }
            input.button{
                text-align: center;
                font-size: 15px;
                min-width: 70px;
                margin: auto;

            }
        }
        a.fa{
            padding-bottom: 0;
        }
    }
    section.about{
        background-size: auto;
    }
    section.faq{
        background-color: rgba(255,255,255,0.3);
        .white_tint{
            background-color: transparent;
        }
    }
}



