<!doctype HTML>
<html lang="en">
<head>
  <title>
    {{#home}}
      {{title}}
    {{/home}}
    {{^home}}
      {{title}} - Tech Retreat
    {{/home}}
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Tech, Retreat, Techretreat, Waterloo, Tech Retreat"/>
  <meta name="description"
        content="Tech Retreat - Learn. Collaborate. Create. Tech Retreat brings together passionate high school students at a one-day event held in the heart of Canada's technology hub. Hear from seasoned speakers and students in the industry. Learn and collaborate with like-minded peers to create something amazing."/>
  <meta property="og:title" content=" Tech Retreat"/>
  <meta property="og:description"
        content="Tech Retreat brings together passionate high school students at a one-day event held in the heart of Canada's technology hub. Hear from seasoned speakers and students in the industry. "/>
  <meta property="og:image" content="http://techretreat.ca/img/moonlogo-circled.png"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {{#jquery}}<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>{{/jquery}}
</head>
<body>
  {{#home}}
  <section class='header'>
    <div class='header__bg header__bg--dimmed'>
      <div class='header__rocket'></div>
    </div>
    <div class='header__loader'></div>
    <div class='header__content'>
      <h1 class='header__title'>Tech Retreat</h1>
      <p class='header__description'><span class='no-break'>Where passionate high schoolers</span> <span class='no-break'>get together to learn and create</span></p>
      <!-- <form method='post' action='//techretreat.us10.list-manage.com/subscribe/post?u=eb4c7d3a0883a57eed57e8ffa&amp;id=b58a0a6711' novalidate class='header__form'>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Leave us your email to stay updated!" required class="header__input text-input text-input--primary">
        <div style="display:inline;position: absolute; left: -5000px;"><input type="text" name="b_eb4c7d3a0883a57eed57e8ffa_9258c0849e" tabindex="-1" value=""></div>
        <button type="submit" name="subscribe" class="button button--primary">Sign up</button>
      </form> -->
      <a href="https://techretreat2016.typeform.com/to/LO5TCU" class="button button--primary">Apply</a>
    </div>
  </section>
  {{/home}}
  <section class='nav'>
    <nav>
      <a class="nav-link nav-link--toggle" onclick="var nav = document.querySelector('nav'); if (nav.className.indexOf('open') != -1) nav.classList.remove('open'); else nav.classList.add('open');">Menu</a>
      <h1>
        <a href="/" class="nav-link nav-link--title">
          <img src="img/rocketlogo.svg" alt="Tech Retreat" />
        </a>
      </h1>
      <a class="nav-link nav-link--selected" href="#">Home</a>
      <a class="nav-link" href="https://medium.com/@TechRetreat">Blog</a>
      <a class="nav-link" href="https://www.facebook.com/kwtechretreat/">Community</a>
    </nav>
  </section>
  {{>content}}
  <section class='footer'>
    <p>Sponsorship inquiries? Questions? Say hello!</p>
    <p>
      <a class="button button--social fa fa-envelope" href="mailto:hello@techretreat.ca"></a>
      <a class="button button--social fa fa-facebook" href="https://www.facebook.com/kwtechretreat"></a>
      <a class="button button--social fa fa-twitter" href="http://twitter.com/TechRetreat"></a>
    </p>
  </section>
  {{#scripts}}
  <script type='text/javascript' src='{{.}}'></script>
  {{/scripts}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-61535728-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
